@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('./img/background-5601040_1920.png'); */
    background:#f3f6fb;
    background-size: 90%;
}
.bgtext {
    background: linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.91)), url('./img/icons/task.png');
    background-size: 10%;
    font-family: 'Marhey', sans-serif;
}
.bginput {
    background: linear-gradient(rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.96)), url('./img/icons/task.png');
    background-size: 10%;
}

.bgstars {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('./img/stars.png');
    background-size: 25%;
}
.bgstar {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('./img/background-5601040_1920.png');
    background-size: 50%;
}
.bgstarlogo {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('./img/background-5601040_1920.png');
    background-size: 20%;
}